<table style="margin-top: 30px; border: 1px solid #ccc; padding: 10px">
  <tr>
    <td colspan="2">
      <%- helpers.getObjectVisualization(entry.object, helpers._.last(entry.events).interpretation.created) %>
    </td>
  </tr>

  <tr>
    <td style="background-color: #9a5; padding: 10px; font-size: 1.5em; color: #fff; font-weight: bold">
      <%= entry.events.length %>
    </td>

    <td style="font-size: 1.2em">
      <%= i18n.t(`section_${entry.events.length === 1 ? "one_" : ""}interpretation`) %>

      <a style="text-decoration: underline; text-decoration-skip-ink: none; font-weight: bold; color: #222"
         target="_blank" href="<%= routes.object(entry.object) %>">
        <%= entry.object.name %>:
      </a>
    </td>
  </tr>

  <tr>
    <td>
    </td>

    <td>
      <% entry.events.forEach(event => { %>
        <div>
          <% if (event.type === "update") { %>
            <div>
              <%- helpers.getObjectVisualization(entry.object, event.interpretation.created) %>
            </div>
          <% } %>

          <span style="background-color: #05a; color: #fff"><%= i18n.t(`type_${event.type}`).toUpperCase() -%></span>

          <span style="text-decoration: underline; color: #222; font-weight: bold">
            <%= event.user.displayName %>
          </span> on <%= i18n.formatDate(event.created) %><%= helpers.getLikes(event.interpretation) %>:
          <%= event.interpretation.text %>

          <a href="<%= routes.interpretation(event.interpretation) %>" target="_blank">
            <img width="28" height="28" src="<%= assetsUrl %>/img/icon-open.png" />
          </a>
        </div>

        <table>
            <% helpers._(event.interpretation.comments).sortBy("created").each(comment => { %>
              <tr>
                <td style="width: 30px">
                </td>

                <td>
                  <img width="28" height="28" src="<%= assetsUrl %>/img/icon-talk.png" />

                  <span style="color: #222; font-weight: bold">
                    <%= comment.user.displayName %>
                  </span> on <%= i18n.formatDate(comment.created) %>:

                  <%= comment.text %>
                </td>
              </tr>
            <% }) %>
        </table>
      <% }) %>
    </td>
  </tr>
</table>
